body {
  font-size: 14px;
}
/* Navbar */
.navbar {
  font-size: 16px;
  background-color: #f7f7f7;
}
.navbar .navbar-brand {
  position: absolute;
  left: 50%;
  top: 8px;
  transform: translateX(-50%);
  font-family: 'Lobster', cursive;
}
.navbar .navbar-brand,
.navbar .navbar-nav .nav-item .nav-link {
  color: #9b9b9b;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: black;
}
.navbar img {
  width: 36px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 1px 0px white inset, 0 0 1px 0px white;
}
.navbar .dropdown-toggle {
  padding: 0;
}
.navbar .dropdown-toggle:after {
  display: none;
}
.navbar .dropdown-menu {
  margin-top: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.dropdown-header {
  padding-top: 0;
}
.row {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Login form */
.login-form {
  max-width: 400px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}
.login-form label {
  font-weight: bold;
}
.login-form .btn-login {
  font-weight: bold;
  width: 100%;
}
.login-header {
  font-size: 1.5em;
}
.logo-image {
  margin: 15px 0;
  width: 64px;
  height: auto;
}
.card {
  margin-bottom: 10px;
}